@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
	.title {
        font-family: 'montserrat';
		position: static;
		height:70px;
		text-align:center;
	}
	body{
		display:flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
        background-color:black;
	}
	canvas{
		margin-top: 60px;
		border-radius: 8px;
		padding: 5px;
	}
    h2{
        color:lime; 
        font-size:50px
    }
    #gc{
        border:4px solid lime;
    }
    #canvCont{
        text-align: center;
    }
